# Django and REST framework
Django==5.1.1
djangorestframework
django-cors-headers

# Database
dj-database-url
psycopg2-binary
sqlparse

# Web server and ASGI
gunicorn
uvicorn
h11
whitenoise
Brotli

# Development tools
black
flake8
isort
mypy-extensions
pycodestyle
pyflakes
mccabe
